{%extends 'main.html'%}
{% load static %}
{% block content %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html"><img src="{% static 'img/sos-logo.png' %}" width="200px"
                                                        class="logo"></a>

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <font color="#fff"></font>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                   aria-describedby="btnNavbarSearch"/>
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    {% include 'base/sidebar.html' %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dossier patient</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Details patients</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-user"></i>
                        PATIENT <br/>

                        <table class="table">
                            <tr>
                                <td><font size="2px"><b>Prénom :</b> {{patient.prenom}}</font></td>
                                <td><font size="2px"><b>Nom :</b> {{patient.nom}}</font></td>
                                <td><font size="2px"><b>Sexe :</b> {{patient.sexe}}</font></td>
                                <td><font size="2px"><b>Age :</b> {{patient.age}} ans</font></td>
                                <td><font size="2px"><b>Tel :</b> {{patient.telephone}}</font></td>
                                <td><font size="2px"><b>Adresse :</b> {{patient.adresse}}</font></td>
                                <td><font size="2px"><b>Date création :</b> {{patient.date_creation}}</font></td>
                            </tr>
                        </table>

                    </div>

                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-ambulance"></i>
                        INTERVENTION <br/>
                        <div align="right">
                            <a href="/add_intervention/{{patient.id}}"><button class="btn btn-primary"><i class="fas fa-plus-circle"></i></button></a>
                        </div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th><font size="2px">Médecin</font></th>
                                <th><font size="2px">Paramédical</font></th>
                                <th><font size="2px">Ambulancier</font></th>
                                <th><font size="2px">Origine Appel</font></th>
                                <th><font size="2px">Motif appel</font></th>
                                <th><font size="2px">Nom appellant</font></th>
                                <th><font size="2px">Numéro appellant</font></th>
                                <th><font size="2px">Lieu intervention</font></th>
                                <th><font size="2px">Décision</font></th>
                                <th><font size="2px">Trajet</font></th>
                                <th><font size="2px">Num. ambulance</font></th>
                                <th><font size="2px">Diagnostique évoqué</font></th>
                            </tr>
                            <tr>
                                <td><font size="2px">{{interventions.medecin}}</font></td>
                                <td><font size="2px">{{interventions.paramedical}}</font></td>
                                <td><font size="2px">{{interventions.ambulancier}}</font></td>
                                <td><font size="2px">{{interventions.origine_appel}}</font></td>
                                <td><font size="2px">{{interventions.Motif_appel}}</font></td>
                                <td><font size="2px">{{interventions.nom_appelant}}</font></td>
                                <td><font size="2px">{{interventions.telephone_appelant}}</font></td>
                                <td><font size="2px">{{interventions.lieu_intervention}}</font></td>
                                <td><font size="2px">{{interventions.decision}}</font></td>
                                <td><font size="2px">{{interventions.trajet}}</font></td>
                                <td><font size="2px">{{interventions.numero_ambulance}}</font></td>
                                <td><font size="2px">{{interventions.diagnostique_evoque}}</font></td>

                            </tr>
                            </thead>

                        </table>
                        </font>
                    </div>

                </div>
            </div>
        </main>
        {% include 'base/footer.html' %}
    </div>
</div>
{% endblock %}